#carrito p {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}
#carrito img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2, 5vw;
  height: 5vh;
}
#carrito section {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid black 1px;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 35vh;
  padding-top: 20vh;
  box-shadow: 2px 4px 10px 0 #000;
}

#principal {
  background: linear-gradient(rgb(5, 7, 12) rgb(5, 7, 12));
  background-image: url(../assets/images/fondo-ropa.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#is {
  background-color: #d5d5d5;}


#cards {
  transition: transform 0.2s;
}

#cards:hover {
  transform: scale(1.08);
}

#cardshadow {
  transition: box-shadow 0.2s;
}

#cardshadow:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#catalogo:hover {
  font-size: 1.2em;
  text-decoration: underline;
}

button {
  border: none;
  outline: none;
  background-color: white;
}

#fondo-catalogo{
  background-color: white;
}
